body{
    background: url(media/mosque1.jpg) no-repeat center; 
    color: black;
    font-family: 'Do Hyeon', sans-serif;
    height: 80vh;
}
.main{
    height: 100%;  
}.content{
    background: rgba(92, 71, 71, 0.7);
    mix-blend-mode: saturation;
}h2{
    font-size: 3vw;
}p{
    font-size: 1vw;
}.btn{
    font-size: 1vw;
    border: 2px solid white;
    color: turquoise;
}
@media (max-width: 575.98px) { 
    .btn{
        font-size: x-small;
    }p{
        font-size: small;
    }h2{
        font-size: large;
    }
 }