body{
    background: url(media/islam5.jpg) no-repeat center;
    color: black;
    height: 100vh;
    font-family: 'Do Hyeon', sans-serif;
}
.grain{
    font-size: 2em;
}.main{
    height: 80vh;
    
}.content{
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: saturation;
}