body{
    background: url(media/mosque1.jpg) no-repeat center;
    background-color: rgba(0, 0, 0, 0.3); 
    color: black;
    font-family: 'Do Hyeon', sans-serif;
    height: 80vh;
}
.main{
    height: 100%;  
}.content{
    background: rgba(92, 71, 71, 0.3);
    mix-blend-mode: saturation;
}h2{
    font-size: 3vw;
}p{
    font-size: 1vw;
}.btn{
    font-size: 1vw;
}