body{
    background: url(media/mosque1.jpg) ;
    background-attachment: fixed;
}.foot{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 1.5em;
}.col-form-label{
    font-size: 1.1em;
    font-weight: bold;
}.secondary_header{
    border-right: yellow groove 1em;
    border-top: 1px solid yellow;
}